doctype html
html
  head
    meta(charset='UTF-8')
    title Rudra
    link(rel='stylesheet', href='/css/style.css', media='screen', type='text/css')
  body
    .main
      #home
        fieldset
          center
            span
              | Add User Status
              br
              br
              |  User Added Successfully
              br
              input(type='submit', value='Log in', onclick='window.location.href="/"')
      // end login-form

