doctype html
html
  head
    meta(charset='UTF-8')
    title Rudra Report
    link(rel='stylesheet', href='/css/style.css', media='screen', type='text/css')
    script.
      function isNumber(evt) {
      var theEvent = evt || window.event;
          var key = theEvent.keyCode || theEvent.which;
          key = String.fromCharCode(key);
          if (key.length == 0) return;
          var regex = /^[0-9,\b]+$/;
          if (!regex.test(key)) {
              theEvent.returnValue = false;
              if (theEvent.preventDefault) theEvent.preventDefault();
          }
      }
  body
    .main
      #home
        h3
          a(href='/home/') Home 
          a(href='/report/') Report 
          a(href='/tools/') Tools 
          a(href='/settings/') Settings 
          a(href='/logout/#{csrf}') Logout
        fieldset
          center
            span Scan Report
            br
            br
            form(action='/getreport', method='post', target='_blank')
              input(type='hidden', name='csrf', value='#{csrf}')
              table
                tr
                  td Enter Scan ID
                  td
                    input(type='text', name='scanid', onkeypress='javascript:return isNumber (event)', required)
                tr
                  td(colspan='2')
                    input(type='submit', value='Get Report')
            br
      // end login-form

