doctype html
html
  head
    meta(charset='UTF-8')
    |   
    title Rudra Settings
    |     
    link(rel='stylesheet', href='/css/style.css', media='screen', type='text/css')
  body
    .main
      #setting
        h3 
          a(href="/home/") Home 
          a(href="/summary/") Summary 
          a(href="/report/") Report 
          a(href="/tools/") Tools 
          a(href="/settings/") Settings 
          a(href="/logout/#{csrf}") Logout
        |     
        fieldset
          center
            span Settings
            br
            br
          table(style='display:inline')
            thead
              th Username List
            tbody
               each item in userid
                 tr
                  td #{item}
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          table(style='display:inline')
              tr
                td(width='455px')
                  input(type='submit', value='Add User', onclick='window.location.href="/adduserui"')
              tr
                td 
                  input(type='submit', value='Remove User', onclick='window.location.href="#"')
              tr
                td 
                  input(type='submit', value='Reset Password', onclick='window.location.href="#"')
              tr
                td 
                  input(type='submit', value='User Authorization', onclick='window.location.href="/userclientui"')
          br       
            

            
      // end login-form
 
