doctype html
html
  head
    meta(charset='UTF-8')
    |   
    title Rudra Tool Management
    |     
    link(rel='stylesheet', href='/css/style.css', media='screen', type='text/css')
  body
    .main
      #home
        h3 
          a(href="/home/") Home 
          a(href="/summary/") Summary 
          a(href="/report/") Report 
          a(href="/tools/") Tools 
          a(href="/settings/") Settings 
          a(href="/logout/#{csrf}") Logout
        |     
        fieldset
          center
            span Tool Management
            br
            br
            input(type='submit', value='Upload To Server', onclick='window.location.href="/uploadtoserver"')
            br
            input(type='submit', value='Push to Client', onclick='window.location.href="/pushtoclient"')
      // end login-form
 
